/*
* @Author: dontry
* @Date:   2017-08-07 11:52:17
* @Last Modified by:   dontry
* @Last Modified time: 2017-08-07 22:28:32
*/
header {
	.panel-wrapper.halfheight {
		@include backImage("../assets/img/profile.jpg");
		@include display-flex();
		overflow: hidden;
	}
}

.panel {
	@include box-shadow();
	@include display-flex();
	@include justify-content(center);
	@include flex-direction(column);
	@include align-items(center);
	@include align-content(center);
	background: lighten($dark, 10);
	text-align: center;
	transition:
		font-size .7s ease-out,
		flex .7s ease-out,
		background .2s;
	flex: 1;

	.slogan {
		font-size: 40px;
		color: darken($light, 20);
	}
}

.panel > * {
	margin: 0;
	width: 100%;
	transition: transform .5s;
	flex: 1 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.panel.open {
	flex: 4;
	font-size: 70px;
	.slogan {
		font-size: 70px;
		color: darken($light, 5);
	}
}

#art {
	@include backImage('../assets/img/art.jpg');
}

#fitness {
	@include backImage('../assets/img/fitness.jpg');
}

#love {
	@include backImage('../assets/img/social_justice.jpg');
}
